*{
    transition: 0.2s linear;
}
/* modo claro / escuro */
.texto-claro{
    color: #fff !important;
}
.modo-escuro{
    background-color: #000 !important;
}
.border-claro{
    border: 1px solid #fff !important;
}
.texto-escuro{
    color: #000 !important;
}
.modo-claro{
    background-color: #fff !important;
}
.border-escuro{
    border: 1px solid #111 !important;
}
.displayNone{
    display: none !important;
}
/* fim modos claro / escuro */

/* navbar */
.btn-escuro{
    border: none;
}
.bg-escuro{
    border: 1px solid #fff !important;
    background-color: #111 !important;
    color: #fff !important
}
.bg-claro{
    border: 1px solid #111 !important;
    background-color: #fff !important;
    color: #111 !important
}

.imagens{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.imgTop{
    border-radius: 10px;
    width: 33% !important;
    padding: 0px !important;
}

.logoTop{
    font-size: 30px;
    text-decoration: none !important;
}
/* cards */
.card {
    font-size: 16px;
    width: 19rem !important;
    margin-bottom: 40px;
}
.bg-list-dark{
    color: #fff !important;
    background: #333 !important;
}

.icones {
    margin-top: 40px;
    width: 100%;
    height: 99px !important;
}

/* barra divisória */
.barra {
    border-radius: 10px;
    width: 15%;
    height: 10px;
    margin-bottom: 20px;
}

/* destaques */
.projeto {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 100%;
    height: 600px;
    padding-top: 240px;
    margin-bottom: 15px;
    color: #fff;
    text-shadow: 3px 3px 1px #000;
    text-decoration: none;
}

/* infos */
h4 {
    font-size: 35px !important;
}

.btnInfo {
    border-radius: 0px !important;
}

.radius{
    border-radius: 14px !important;
}

/* footer */
footer {
    margin-top: 30px;
    padding-bottom: 15px;
    background-color: #000;
}

/* responsividade */

@media(max-width: 767px) {
    .card {
        width: 16rem !important;
    }
    .projeto {
        width: 100%;
        height: 300px !important;
        padding-top: 90px;
    }
}

/* celular */
@media(max-width: 576px) {
    .card{
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .infoImg{
        padding: 0 !important;
    }
    .bg-escuro{
        border: none !important;
    }
    .icones {
        margin-top: 20px;
        height: 60px !important;
    }
    .radius{
        border-radius: 0 !important;
    }
    .footerP {
        font-size: 13px !important;
    }
}